body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100vw;
}

.header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #ffffff;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.header__image {
  width: 31.31px;
  height: 26.22px;
  margin-right: 7px;
}

.header__title {
  font-weight: 700;
  font-size: 1.296875rem;
}

.header__project {
  font-weight: 500;
  font-size: 0.75rem;
}

main {
  padding: 35px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.main__input {
  border: 1px solid #D5D4D8;  
  border-radius: 5px;
  font-family: 'Karla', sans-serif;
  font-size: 0.75rem;
  padding: 10px;
  color: #0D0D0D;
}

.main__button {
  grid-column: span 2;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 0;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.main__button:hover {
  background: linear-gradient(90.41deg, #8525a5 1.14%, #b81bec 100%);
}

.main__meme {
  position: relative;
  grid-column: span 2;
}

.main__image {
  width: 100%;
  max-width: 100%;
}

.main__text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.main__text_bottom {
  bottom: 0;
}

.main__text_top {
  top: 0;
}